.menu {
    position: absolute;
    bottom: 55px;
    right: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #aaaaaa;
    background: #ffffff;
    font-family: 'Noto Sans';
}

.menu .menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    background: transparent;
    transition-property: background-color;
    transition-duration: .1s;
    transition-timing-function: linear;
    cursor: pointer;
}

.menu .menu-item:hover {
    background: #dedede;
}

.menu-item .text {
    margin-left: 1em;
    font-size: small;
}