.menu {
    position: absolute;
    bottom: 55px;
    right: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #aaaaaa;
    background: #ffffff;
    font-family: 'Noto Sans';
    user-select: none;
    opacity: 0;
    transition-property: transform, opacity;
	transition-duration: 0.1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transform: translate(0, 50px);
    pointer-events: none;
}

.menu.open {
    display: flex;
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: all;
}

.menu .separator {
    margin: 5px 10px;
    height: 1px;
    background: #aaaaaa;
    border: none;
    display: block;
}

.menu .menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 15px;
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    cursor: pointer;
    border: none;
    color: #212121;
}

.menu .menu-item:hover {
    background: #dedede;
}

.menu .menu-item:focus {
    background: #dedede;
}

.menu .menu-item:active {
    background: #c5c5c5;
}

.menu-item .text {
    margin-left: 1em;
    font-size: small;
}